/* banner   */
.banner{
  height: 500px;
  background-color: #f5f5f5;
}
.banner .wrapper{
  position: relative;
  height: 500px;
  background-color: pink;
}
.banner .aside{
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 500px;
  background-color: rgba(0, 0, 0, .8);
}
.banner .aside li{
  color: #ccc;
  padding:11.5px 8px;
  
}
.banner .aside li:hover{
  background-color:#28BC98
}
.banner .aside li a {
  color: #ccc;
  font-size: 18px;
}
.banner .aside li span{
  float: right;
  margin-right: 20px;
}
/* 箭头 */
.prev,.next{
  position:absolute;
  top:228px;
  width: 45px;
  height: 42px;
  background-color:rgba(0, 0, 0, .2);
  border-radius: 50%;
  background-image: url(../images/sprites.png);
}
.prev{
  left: 260px;
  background-position: 14px -63px;
}
.next{
  right: 10px;
  background-position: -22px -63px;
}
/* 圆点 */
.banner ol{
  position:absolute;
  left: 680px;
  bottom: 30px;
  height: 10px;
  cursor: pointer;
}
.banner ol li{
  float: left;
  margin-right: 24px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: rgba(255,255,255,0.4);
 
}
.banner ol .current{
  background-color: #fff;
}
.goods .hd{
  height: 114px;
  line-height:114px;
}
.goods .hd h2{
  height: 114px;
  font-size: 29px;
  color: #333;
  float: left;
  font-weight: normal;
}
.goods .hd h2 span{
  margin-left: 34px;
  font-size: 16px;
  color: #999;
}
.goods .hd a {
  float: right;
  color: #999;
  margin-right: 8px;
}
.goods .body li{
  position: relative;
  float: left;
  margin-right: 8px;
  width: 304px;
  height: 405px;
  background-color: #f0f9f4;
  text-align: center;

}
.goods .body li:last-child{
  margin-right: 0px;
}
.goods .body li img{
  width: 304px;
}
.goods .body li h3{
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  font-weight: normal;
}
.goods .body li div{
  font-size: 23px;
  color: #9a2e1f;
}
.goods .body li b{
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 51px;
  color: #28BC98;
  border: 2px solid #28BC98;
  border-radius: 5px;
}
.fresh .hd{
  height: 96px;
  line-height: 96px;
}
.fresh .hd h2{
  float: left;
  font-size: 29px;
  font-weight: normal;
}
.fresh .hd a{
  color: #999999;
  float: right;
  padding-left: 80px;
}
.fresh .hd li{
  margin-left: 80px;
  float: right;
}
.fresh .hd li:hover{
  color: aqua;
}
.fresh .bd .left{
  float: left;
  width: 240px;
  height: 610px;
  background-color: #9a2e1f;
}
.fresh .bd .right{
  float: left;
  width: 1000px;
  height: 610px;
 
}
.fresh .bd .right li{
  margin-right: 8px;
  float: left;
  width: 244px;
  height: 305px;
}
.fresh .bd .right li:nth-child(4n){
  margin-right: 0;
}
.fresh .bd .right li a img{
  width: 244px;
}
.fresh .bd .right li div{
  text-align: center;
  font-size: 20px;
}
.fresh .bd .right li p{
  text-align: center;
  font-size: 18px;
}